/* #xxx{
  background: green;
  display: block;
}

body{
  margin: 0px;
}

html{
}

.actions{
  position: fixed;
  bottom: 0;
  left: 0;
}
.actions > #brush{
  display: none;
}

.actions.x > #brush{
  display: inline-block;
}
.actions.x > #eraser{
  display: none
} */
*{
  margin: 0px;
  padding: 0px;
  
  }
  body{
     overflow: hidden; /*禁用滚动条,屏幕不会动了 */
  }
  ol,ul{
    list-style: none;
  }
  #xxx{
  background: green;
  display: block;
  
  }
  .actions{
  position: fixed;
  top: 0;
  left: 0;
  padding:10px;
  }
  .actions > #brush{
  display: none;
  }
  .actions.x>#brush{
  display: inline-block;
  }
  .actions.x>#eraser{
  display: none;
  }
  .icon {
         width: 2em; height: 2em;
         vertical-align: -0.15em;
         fill: currentColor;
         overflow: hidden;
      }
.actions svg{
  transition: all 0.3s;
  margin: 0 10px;
}
.actions svg.active{
  fill:red;
  transform:scale(1.2);
  
}
.colors{
  position: fixed;
  top: 50px;
  left: 10px;
  
  
}
.colors>li{
  width: 20px;
  height: 20px;
  border: 1px solid;
  border-radius: 50%;
  margin: 5px;
 
}
.colors>li.red{
  background: red;
}
.colors>li.yellow{
  background: yellow;
}
.colors>li.blue{
  background: blue;
}
